= simple_form_for @enquiry_message, validate: true do |f|
  .row
    .medium-6.columns
      = f.input :first_name, placeholder: 'John'
    .medium-6.columns
      = f.input :second_name, placeholder: 'Smith'
    .medium-12.columns
      =f.input :contact_email, placeholder: 'john.smith@example.com'
    .medium-12.columns
      =f.input :message, as: :text, placeholder: 'Type your message here'
    .medium-12.columns
      = f.input :terms_of_service, as: :boolean, label: "#{t('legal.contact_acceptance')}"
    .medium-12.columns
      = f.button :submit, "Send", id: 'enquiry_button'
