= simple_form_for @enquiry_message, validate: true do |f|
  .row
    .medium-6.columns
      = f.input :first_name, placeholder: 'John'
    .medium-6.columns
      = f.input :second_name, placeholder: 'Smith'
    .medium-12.columns
      =f.input :contact_email, placeholder: 'john.smith@example.com'
    .medium-12.columns
      =f.input :message, as: :text, placeholder: 'Type your message here'
    .medium-12.columns
      = f.input :terms_of_service, as: :boolean, label: "Your personal details will only be used to help us provide our services to you. Please tick here to confirm that you have read and agree to our #{ link_to 'Privacy and Cookie Policy', privacy_path } and our #{ link_to 'Terms and Conditions', terms_path }, which outline how we will use your data.".html_safe
    .medium-12.columns
      = f.button :submit, "Send", id: 'enquiry_button'
