= simple_form_for @looking_message, validate: true do |f|
  .row
    .medium-2.columns
      = f.input :title, placeholder: 'Mr/Mrs/Miss'
    .medium-5.columns
      = f.input :first_name, placeholder: 'John'
    .medium-5.columns
      = f.input :second_name, placeholder: 'Smith'
    .medium-6.columns
      = f.input :address_line_1, placeholder: 'First Line'
    .medium-6.columns
      = f.input :address_line_2, placeholder: 'Second Line'
    .medium-6.columns
      = f.input :city, placeholder: 'Town/City', label: false
    .medium-6.columns
      = f.input :postcode, placeholder: 'Postcode', label: false
    .medium-6.columns
      = f.input :contact_number, placeholder: '01234 567890'
    .medium-6.columns
      = f.input :contact_email, placeholder: 'john.smith@sample.com'
    .medium-6.columns
      = f.input :occupation, placeholder: 'Brick Layer'
    .medium-6.columns
      = f.input :type_of_work, placeholder: "Write down the type of work you're looking for", label: 'Type of work'
    .small-12.columns
      = f.input :terms_of_service, as: :boolean, label: "Your personal details will only be used to help us provide our services to you. Please tick here to confirm that you have read and agree to our #{ link_to 'Privacy and Cookie Policy', privacy_path } and our #{ link_to 'Terms and Conditions', terms_path }, which outline how we will use your data.".html_safe
    .small-12.columns
      = f.button :submit, "Send", id: 'looking_button'
