%footer
  .footer-info
    .row
      .small-12.medium-4.columns
        .small-12.columns.info
          %h6 Company
          %span Indigo Recruitment Services Ltd
          %span Registered company in England and Wales
          %span
            Company number:
            = t("company_number")
          %span Registered Office: 79 Bentinck road,
          %span Newcastle Upon Tyne,
          %span NE4 6UX
          %span
            REC membership number:
            = t("rec_membership_number")
          %span
            VAT number:
            = t("vat_number")
      
      .small-12.medium-4.columns
        .small-12.columns.services
          %h6 Services
          %ul
            %li
              = link_to 'Recuitment', who_we_are_path
            %li
              = link_to 'Hiring', what_we_do_path
        .small-12.columns.legal
          %h6 Legal
          = link_to "Privacy and Cookie Policy", privacy_path
          = link_to "Terms & Conditions", terms_path


      .small-12.medium-4.columns
        .small-12.columns.contact
          %h6 Contact
          %span
            Tel:
            = t("phone_number")
          %span
            Email:
            = t("email")        
          = link_to "Contact", get_in_touch_path

        .small-12.columns.social-media
          %h6 Social media
          %ul.social-icons
            %li
              %a{href: "https://google.com"}
                %i.flaticon-twitter
            %li
              %a{href: "https://google.com"}
                %i.flaticon-facebook
            %li
              %a{href: "https://google.com"}
                %i.flaticon-google
            %li
              %a{href: "https://google.com"}
                %i.flaticon-linkedin

  .copyright
    .row
      .small-12.medium-8.large-6.small-centered.columns
        %p 
          Copyright Notice
        %p
          &copy; Indigo Recruitment Services Limited, All Rights Reserved.
        %p The content of this website is protected by the copyright laws of England and Wales and by international laws and conventions.  No content from this website may be copied, reproduced or revised without the prior written consent of Indigo Recruitment Services Limited.  Copies of content may be saved and/or printed for personal use only.

