%footer
  .footer-info
    .row
      .small-12.medium-4.columns
        .small-12.columns.info
          %h6 Company
          %span Indigo Recruitment Services Ltd
          %span Registered company in England and Wales
          %span
            Company number
            = t("company_number")
          %span Registered Office: 79 Bentinck road, Newcastle Upon Tyne, NE4 6UX
          %span
            REC membership number:
            = t("rec_membership_number")
          %span
            VAT number:
            = t("vat_number")
      
      .small-12.medium-4.columns
        .small-12.columns.services
          %h6 Services
          %ul
            %li
              %a{href: "#"} Recruitment
            %li
              %a{href: "#"} Hiring
        .small-12.columns.legal
          %h6 Legal
          %a{href: "#"} Privacy Policy
          %a{href: "#"} Terms &amp Conditions


      .small-12.medium-4.columns
        .small-12.columns.contact
          %h6 Contact
          %span
            Tel:
            = t("phone_number")
          %span
            Email:
            = t("email")        
          = link_to "Contact", get_in_touch_path

        .small-12.columns.social-media
          %h6 Social media
          %ul.social-icons
            %li
              %a{href: "https://google.com"}
                %i.flaticon-twitter
            %li
              %a{href: "https://google.com"}
                %i.flaticon-facebook
            %li
              %a{href: "https://google.com"}
                %i.flaticon-google
            %li
              %a{href: "https://google.com"}
                %i.flaticon-linkedin

  .copyright
    .row
      .small-12.columns
        %span 
          &copy; Copyright
          = Time.now.year
          Indigo Recruitment Services Ltd

