%nav#nav.sticky
  %ul
    %li.logo
      = image_tag 'indigo-logo.png'
    %li
      = link_to "Home", root_path, class: "active"
    %li
      = link_to "Who we are", who_we_are_path
    %li
      = link_to "What we do", what_we_do_path
    %li
      = link_to "Get in touch", get_in_touch_path
